.container {
  text-align: center;
  position: relative;
}
.judul {
  margin-top: 100px;
  width: 70%;
}
#point {
  font-size: 100px;
  color: white;
  text-shadow: 2px 0 black,-2px 0 black,0 2px black ,0 -2px black;
}
.popcat {
  width: 600px;
  height: 600px;
  
}
.btn {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
}

.move {
 animation: shake .5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-10px, 10px, 0);
  }
  20%, 80% {
    transform: translate3d(20px, 5px, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-14px, -10px, 0);
  }
  40%, 60% {
    transform: translate3d(14px, -5px, 0);
  }
}












@media screen and (max-width: 480px) {
  .popcat {
    width: 300px;
    height: 300px;
  }
  #point {
    font-size: 50px;
  }
}
